@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

*{
    margin: 0;
    padding: 0;
}

header{
    background-color: #6474FF;
    height: 120px;
    
}

body{
    font-family: 'Roboto', sans-serif;
    font-size: 19px;
    background-color:#EEF0F1;
}


nav{
    display: flex; 
    justify-content: right;
}

nav a{
    text-align: center;
    color: #EEF0F1;
    font-size: 20px;
    padding: 5px 20px;
    margin: 20px 20px 0px;
    background-color: #FFC000;
    border-radius: 12px;
    
}

.maininfo{
    display: flex;
    justify-content: center;
    margin-bottom: 70px;

}

.maininfo_base{
    background-color: #ffffff;
    height: 270px;
    width: 690px;
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.maininfo_img{
    height: 70px;
    width: 70px;
    display: flex;
    justify-content: center;
    margin: 20px;
}

img{
    height: 70px;
    width: 70px;
    border-radius: 50vh;
    border: 3px solid #6474FF;
}

h1{
    margin-bottom: 17px;
    font-weight: bold;
}

.maininfo_text{
    text-align: center;
}

.skills{
    display: flex;
    justify-content: center;
    
  
}

h2{
    text-align: center;
    font-weight: bold;
    margin: 50px;
    font-size: 22px;
}

.skills_box  {
    background-color: #ffffff;
    height: 340px;
    width: 300px;
    border-radius: 12px;
    margin: 0px 45px;
}

li{
    margin-left: 13%;
    font-size: 22px;
}

footer{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #6474FF;
    margin-bottom: 0%;
    margin-top: 70px;
    height: 150px;
}

.txt{
    margin-top: 40px;
    margin-bottom: 30px;
}

p2{
    color: #ffffff;
}

a{
    color: #ffffff;
    margin: 0px 15px;
}






